ATHENA_HOST="athena.cyfronet.pl"

# Your own remote dir (used by submit_to_athena.sh and for pulling logs)
REMOTE_DIR="/net/pr2/projects/plgrid/plggtriplane/zardori/zml"

# All project members' remote dirs (used by pull_from_athena.sh to collect experiment outputs)
REMOTE_DIRS=(
    "/net/pr2/projects/plgrid/plggtriplane/zardori/zml"
    "/net/pr2/projects/plgrid/plggtriplane/btcaf/zml"
    "/net/pr2/projects/plgrid/plggtriplane/poblos/zml"
)
